# OpenWeatherMap API Key for Part 1
OWM_KEY=your_api_key_here

# LLM API Key for Smart Insights (OpenAI/Gemini)
GEMINI_KEY=your_api_key_here


# OWM_KEY="0bc31c822a7edfd" + "4476a0f381c1beece"
# GEMINI_KEY = "AIzaSyA6tHIdCvCwF-" + "NmF32jg7vFLCz212XxHgA"